# **What is a programming Language?**

A programming language is an artificial language that can be used to control the behaviour of a machine, particularly a computer. Programming languages, like human languages, are defined through the use of syntactic and semantic rules, to determine structure and meaning respectively.


Examples are: Python, Ruby, Java, JavaScript, C, C++, and C#.

Programming languages are used to write all computer programs and computer software. A programming language is like a set of instructions that the computer follows to do something.

## **Installing IDE(Integrated Development Environment):**

How to download and install Python on Windows:

https://www.python.org/downloads/

how to download and install Pycharm IDE on Windows:

https://www.jetbrains.com/pycharm/download/

Moreover, here you can get complete guidance about installing IDE for python on Windows.

https://www.guru99.com/how-to-install-python.html

# **Python For Beginners**


Python is a popular programming language. It was created by Guido van Rossum, and released in 1991.
# Why Python?


*   Free and open source
*   Easy to learn


*   Portable
*   A lot of applications including web developing, app developing and data science


*   Can be treated in a procedural way, object oriented way and fuctional way

# **Python Syntax**

In [19]:
a = "Hello"
a = 34
print ("hello")

hello

In [20]:
print (a)

34

In [21]:
print(2345)

2345

In [22]:
a = 100
print(a)

b = "Python"
print(b)

100
Python

# **Comment**
Comments can be used to explain Python code.

Comments can be used to make the code more readable.

Comments can be used to prevent execution when testing code.


2 types of comments in Python:


*   Single line comment #
*   Multi-line comment '''  '''

In [23]:
print("Let's learn about comments.")

#print("it is a single line comment")

print("Icode")

Let's learn about comments.
Icode

In [24]:
print("""Multi-line String""")
"""multi-line comment, you can use with every line or
cskha k
 khzsf"""


print("My name is ayesha. I'm a student at university.I'm a good student.")

Multi-line String
My name is ayesha. I'm a student at university.I'm a good student.

# **Reserve words or keywords**

Keywords are predefined, reserved words used in Python programming that have special meanings to the interpreter.

We cannot use a keyword as a variable name, function name, or any other identifier. They are used to define the syntax and structure of the Python language.

Following are some keywords in Python:


**False,     is,     in,     Lambda,    True,    None,    if,     elif,    break,       else,    continue,    class,    not,    and,    or**

# **Python Variables**
Variables are containers for storing data values.

Python has no command for declaring a variable. There is no need to write the data type of a variable before it.

A variable is created the moment you first assign a value to it.

In [25]:
x = 5
y = 10.3
print(x)
print('x')
print(y)
print(x,"+",y)

5
x
10.3
5 + 10.3

In [26]:
a =" Icode"
b = 'Guru'
print(a,b)
print(a,'+',b)       #Shortcut ctrl + /

 Icode Guru
 Icode + Guru

# **Rules for assigning name to variable**



*   A variable name must start with a letter or the underscore character and there must be no white space in a variable name
*   A variable name cannot start with a number


*   A variable name can only contain alpha-numeric characters and underscores (A-z, 0-9, and _ ). No special characters are allowed i.e. @icode , Python$ are the invalid variables.
*   Variable names are case-sensitive (age, Age and AGE are three different variables)

In [27]:
_myVar5  = "iCodeGuru"
myVariableName = 95
MyVariableName = 'Pakistan'
myVariableName = 88.5
print(myVariableName)

88.5

In [28]:
myVariableName = 95
#   myVariableName = 95
#myVariableName y = 77
#myVariableName@ = 33
print(myVariableName)

95

# **Assigning values to the variable:**




* Assigning multiple values to multiple variables
  
*   Assigning one value to multiple variables

#**Multiple Values to Multiple Variables**

Python allows you to assign values to multiple variables in one line.

In [29]:
x, y, z = "Orange", 5, "Apple"
print(x)
print(y)
print(z)

Orange
5
Apple

In [30]:
a , b = 5 , 8
print(a)
print(b)

5
8

#**One Value to Multiple Variables**

You can also assign the same value to multiple variables in one line.

In [31]:
a = b = c = "Orange"
print(a)
print(b)
print(c)

Orange
Orange
Orange

In [32]:
b = 2
print(b)

2

In [33]:
#b = 45
print(b)

2

#**Getting Address of a Variable**

Use id function for it.

The `id()` function returns a unique id for the specified object.

All objects in Python has its own unique id.

The id is assigned to the object when it is created.

The id is the object's memory address, and will be different for each time you run the program.

In [34]:
X = "Icode"
print(id(139810907914576))
b = 2
print(id(b))

2066337959696
140715632900568

In [35]:
x = 5
y = 5
print(x)
print(y)
print(id(x))
print(id(y))

5
5
140715632900664
140715632900664

In [36]:
x = "Hello"
print(id(x))
y = "Hello1"
print(id(y))

2066337984464
2066338215952

# **Data Types**
Following are some built-in data types in Python:


*   Text Type:  `str`  -->   " "
*   Numeric Types:  `int`, `float`  -->  123, 12.97683
*   Sequence Types: `list`, `tuple`  -->  [1,3,4,5] , (1,8,6,4)
*   Mapping Type: `dict`  -->  {}
*   Set Type: `set` -->  {[ ]}
*   Boolean Type: `bool`  -->  TRUE and FALSE







---

In [37]:
string_var = "Programming"
print(string_var)

Programming

In [38]:
integer_var = 20
print(integer_var)

20

In [39]:
float_var = 18.23
print(float_var)

18.23

In [40]:
bool_var = False
print(bool_var)

False

**Getting the Data type**

You can get the data type of any object by using the **type()** function:

In [41]:
a = "70"
print(type(a))
print(a)

<class 'str'>
70

In [42]:
var2 = 2.5
print(type(var2))

<class 'float'>

In [43]:
var4 = True
print(type(var4))

<class 'bool'>

In [44]:
Var1 = 5
var1 = 1
print(var1)
print(Var1)

1
5

In [45]:
a = '100'
print(type(a))

<class 'str'>

# **Type Casting in Python**
We can change the data type of a variable or a value.

In [46]:
a = 89.9
a = int(a)
print(a)
print(type(a))

89
<class 'int'>

In [47]:
a =str(789.8)
print(a)
print(type(a))

789.8
<class 'str'>

In [48]:
first = "105"
print(type(first))
first = int(first)
print(first)
print(type(first))
second = 90.8
third = str(second)
print(third)
print(type(third))

<class 'str'>
105
<class 'int'>
90.8
<class 'str'>

In [49]:
string = False
string1 = str(string)
print(string1)
print(type(string1))

False
<class 'str'>

In [50]:
integer = 0
boolean = bool(integer)
print(boolean)

False

In [51]:
boolean = False
integer = int(boolean)
print(integer)

0

In [ ]:
marks = float(input("Enter your marks ="))
print(marks)
type(marks)

In [ ]:
marks = int(input("Enter your obtained marks ="))
total_marks = int(input('Enter total marks of Maths subject ='))
percentage = marks/total_marks*100
print(int(percentage), "%")

In [ ]:
# Input Function
age = int(input("Enter your age: "))
print("your age is: ", age)
print("your age after 5 years will be =",age + 5 )

Enter your age: 22
your age is:  22
your age after 5 years will be = 27

In [ ]:
px = int(input("Enter anything"))
#print(x + 5)
#print(type(x))

In [1]:
print('My name is Tahmas.')
a = "6"

My name is Tahmas.

In [2]:
x = "Python is"
X = bool(x)
print(X)
print(type(X))

True
<class 'bool'>

# **Operators**

Operators are used to perform operations on variables and values.
Python divides the operators in the following groups:
*   Arithmetic operators

*   Assignment operators

*   Comparison operators

*   Logical operators

*   Membership operators

#**Arithmetic Operators**

* Addition +
* Subtraction -
* Multiplicatin *
* Division /
* Modulus %
* Exponential **
* Floor Division //

In [ ]:
x = int(input())
print(type(x))
print(x+2)

In [ ]:
#input function
a = int(input("Enter username: "))
print(a)
print(type(a))
print(a+2)

Enter username: 56
56
<class 'int'>
58

In [ ]:
print(8.0+4)

12.0

In [ ]:
#Addition
a = int(input("Enter a number "))
b = 4
c = a + b
print(c)
print(type(c))
#print(3 + 7)

Enter a number 5
9
<class 'int'>

In [ ]:
#Subtraction
a = 4
b = 5.0

print(a - b)
print(type(a - b))

-1.0
<class 'float'>

In [ ]:
#Multiplication
a = 2.0
b = 4
print(a*b)
print(type(a*b))

8.0
<class 'float'>

In [ ]:
#Division (always gives float)
x = 5
y = 5
z = x/y
print(z)
print(type(z))
var = int(z)
print(var, type(var))

1.0
<class 'float'>
1 <class 'int'>

In [ ]:
#Floor Division (always gives integer)
x = 9
y = 5
z = x//y
print(z)
print(type(z))

1
<class 'int'>

In [ ]:
#Exponentiation or Exponential
x = 5
y = 2   # 5 raised to power 2, 5*5
print(x**y)  # 1st value = base, 2nd value = power
print(type(x**y))

25
<class 'int'>

In [ ]:
#Modulus (gives remainder)
x = 9
y = 5
print(x%y)
print(type(x%y))

4
<class 'int'>

#**Operator Precedence**


paranthesis

exponentiation

multiplication / division / f.d / modulus

addition, subtraction

In [ ]:
print(12 + 5 * (4 - 2))

In [ ]:
print(4 * 3 + 2 / 2)
# BODMAS

#**Assignment Operators**

Assignment operators are used to assign values to variables

In [ ]:
x = 7
#x += 2    # x = x+2
#x -= 3      # x = x - 3
#x *= x       # x = 5*5
#x /= 3        # x = x/3
#x %= 3
#x //= 3
x **= 3
print(x)

125

In [ ]:
x = 2
x **= 5
x = x**5
print(x)

32

#**Comparison Operators**


These are used to compare two variables with each other.

">"  is greater than

"<"  is smaller than

">="  is greater than or equal to

"<="  is smaller than or equal to

"=="  is equal to

"!=" is not equal to

In [ ]:
print(5!=7)

True

In [ ]:
a = 7
b = 10
print(a!=b)
print(a==b)
print(a<b)
print(a>b)

True
False
True
False

# **Logical Operators**

Python has three Boolean operators, or logical operators: and , or , and not.

Logical operators are used to combine conditional statements

  

`and` 	      Returns "True" if both statements are true
`or`	        Returns "True" if one of the statements is true
`not`	        Reverse the result, returns "False" if the result is true

In [ ]:
x = 9
print(x < 11 and  x < 9)
print(x < 11 or  x < 9)
print(not(x < 5 or x < 10))

True
False

In [ ]:
x = 9
print(not x>10)

In [ ]:
a = 80
b = 70
print(a==b or a>b)

True

#**Membership Operators**

Membership operators are used to test if a sequence is presented in an object

`in` Returns "True" if a sequence with the specified value is present in the object

`not in` Returns "True" if a sequence with the specified value is not present in the object

In [ ]:
var1 = "Python for Beginners"
print(f in var1)

var2 = "orange", "3.4",6
print(5 in var1)

#**Identity Operators**

Identity operators are used to compare the objects, not if they are equal, but if they are actually the same object, with the same memory location.

`is` Returns True if both variables are the same object

`is not` Returns True if both variables are not the same object

In [ ]:
a = 10.1
b = 10.1

print(a is b)
print(id(a))
print(id(b))

False
140497898681552
140497898674192

In [ ]:
a = 10
b = "10"
#a = 11
print(a is b)
print(id(a))
print(id(b))

False
137488480354832
137488473273776

#**Python Strings**

Strings in python are surrounded by either single quotation marks, or double quotation marks.

You can display a string literal with the `print()` function

In [ ]:

x = "Python "
print(x)
y = 'Programming'
print(y)
print(x,y)

Python
Programming
Python Programming

# **Multiline Strings**


You can assign a multiline string to a variable by using three quotes or three single quotes:

The line breaks are inserted at the same position as in the code.

In [ ]:
message1 = """Hello there I'm learning "python"

 programming language!"""
print(message1)
message2 = "Now, we are learning about multiline string"
print(message2)

Hello there I'm learning "python"

 programming language!
Now, we are learning about multiline string

In [ ]:
a = """multiline
comment"""
print(a)

multiline
comment

# **String Concatenation**
To concatenate, or combine, two strings you can use the "+" operator.

In [ ]:
x = "iCode"
y = "Guru"
z = "python"
print(x+"\n" +y+"\n" +z)

# Both have same working.....
print(x + " " + y + " " + z)

iCode
Guru
python
iCode Guru python

# **Strings are Arrays:**

Like many other popular programming languages, strings in Python are arrays of bytes representing unicode characters.

However, Python does not have a character data type, a single character is simply a string with a length of 1.

Square brackets can be used to access elements of the string.

In [ ]:
x = "Hello"
print(x[4])
print(x[0])
#print(x[5])
print(len(x))

message = """Hello there, I am
leraning Python """
#print(len(message))

o
H
5

# **String Length**


To get the length of a string, use the len() function.

In [ ]:
string = "Python Programming Language"
print(len(string))
print(string[26])

27
e

# **String Index:**

We can use index() method to find the index of a specific character or substring in a string.

In [ ]:
string = "Python Programming"
print(string.index("o"))

4

# **Looping Through a String:**

Since strings are arrays, we can loop through the characters in a string, with a for loop.

In [ ]:
for amna in "hello":

  print(amna)

#for x in "python=":
   #print(2)

#**Membership Operators**

Membership operators are used to test if a sequence is presented in an object

`in` Returns "True" if a sequence with the specified value is present in the object

`not in` Returns "True" if a sequence with the specified value is not present in the object

In [ ]:
x = "How to use membership operator"
print("on"  in x)

print("Yes" not in "Python")

True
True

# **Slicing**
You can return a range of characters by using the slice syntax.

Specify the start index and the end index, separated by a colon, to return a part of the string.
There are three values separated by a colon(:) that can be used in slicing. And all of them are optional.

Syntax= string[start:end:step]

In [ ]:
x = "Hello"
print(x[:])
print(x[2:-1:1])

Hello
ll

# Negative Indexing
Use negative indexes to start the slice from the end of the string:

In [ ]:
x = "Hello"
#print(x[-6])
#print(x[-1])
#print(x[:-1:])
print(x[::-1])

o
Hell
H

# **String Methods:**
Python has a set of built-in methods that you can use on strings.

**Upper Case**

The upper() method returns the string in upper case:

**Lower Case**

The lower() method returns the string in lower case:

**Capitalize**

The capitalize() method returns the string with first character capitalized:


**Sorted**

The sorted function is used to sort the string alphabatically.

**Join**

join() is used to join characters of a list in the form of string separated by the specified character.

In [ ]:
x = "pYtHon"
print(x.capitalize())
string1 = "ProgrAmmiNg"
print(string1.upper())
# print(string.capitalize())
#print(x)
#print(y)

Python
PROGRAMMING

In [ ]:
x = "zyxwvutsrq@#13$%^3ponmlkjihgfedcba"
print(sorted(x))

['#', '$', '%', '1', '3', '3', '@', '^', 'a', 'b', 'c', 'd', 'e', 'f', 'g', 'h', 'i', 'j', 'k', 'l', 'm', 'n', 'o', 'p', 'q', 'r', 's', 't', 'u', 'v', 'w', 'x', 'y', 'z']

In [ ]:
string = "python"
#print(sorted(string))   #returns string in the form of a sorted list
x = ",".join(string)
print(x)
print(" ".join(sorted(string)))

string1 = "Who are you?567"
print(sorted(string1))

p,y,t,h,o,n
h n o p t y
[' ', ' ', '5', '6', '7', '?', 'W', 'a', 'e', 'h', 'o', 'o', 'r', 'u', 'y']

**Count**

The count method is used to count the occurences of a specific character or substring in a string.

**endswith**

It checks whether a string ends with a specified character.

**startswith**

It checks whether a string starts with a specified character.

**endswith**

It checks whether a string ends with a specified character.

**find**

It checks at what position a specified character is present.

In [ ]:
a = "Hello, World!"
print(a.count("l"))
b = "lHello"
print(b.endswith("lio"))
print(b.startswith("h"))
print(b.find("n"))

3
False
False
-1

**Escape Character:**

To insert characters that are illegal in a string, use an escape character.

An escape character is a backslash \ followed by the character you want to insert.

An example of an illegal character is a double quote inside a string that is surrounded by double quotes:

In [ ]:
string = 'Do you know how to use \t illegal \'charcters\' \n in python?'
print(string)

Do you know how to use 	 illegal 'charcters'
 in python?

**Formatted String: (f-string)**

The format() method formats the specified value(s) and insert them inside the string's placeholder. The placeholder is defined using curly brackets: {}.

In [ ]:
#print("Hi, {}".format("Ahmad"))
x = "I don't know {}. I've no idea about it."
print(x.format("programming"))
print(x.format("swimming"))
print(x.format(False))


a = "Ali"
print(f"My name is {a}")

I don't know programming. I've no idea about it.
I don't know swimming. I've no idea about it.
I don't know False. I've no idea about it.
My name is Ali

# **Remove Whitespaces:**
Whitespace is the space before and/or after the actual text, and very often you want to remove this space.

The strip() method removes any whitespace from the beginning or the end:

In [ ]:
x = "Hello"
print(x)
print(x.strip("llo"))

Hello
He

In [ ]:
x = "Hello World!"
print(x)
print(x.strip("He"))
print(x.strip("Hello")) #l for left  strip()
print(x.strip("Wrold!"))  #(r for right)

Hello World!
llo World!
 World!
Hello

# **Replace String:**
The replace() method replaces a string with another string:

In [ ]:
string = " Hello there!"
string4 = "Hello world"
print(string4.replace("Hello", "Hy"))

Hy world

# **Split String:**
The split() method returns a list where the text between the specified separator becomes the list items.

In [ ]:
message = "We can uses split method to change our string into a split  list."
# print(" ".join(message.split("s")))
print(message.split("split"))
# print((message.split("pakistan")))

['We can uses ', ' method to change our string into a ', '  list.']

**Reverse of a string:**

reversed() function is used to get the reverse of a specified string.

In [ ]:
a = "Hello there!"
#print(reversed(a))    #return type memory location
#print("".join(reversed(a)))

In [ ]:
x = 1210

print("".join(reversed(str(x))))

0121

In [ ]:
x = 'Python'
print(x[::-1])

nohtyP

# **String:**

**Strings are not mutable in Python.** Strings are a immutable data types which means that its value cannot be updated.

In [ ]:
string = "Strings are immutable"
string[0] = "i"
print(string)

TypeError: ignored

#**List**

Lists are used to store multiple items in a single variable.

List items are ordered, changable, allow duplicate values.

List items can be of any data type.

In [ ]:
list1 = ["cool", 5, " " ,"table", 4.3, True, "cool"]
print(list1)
print(type(list1))

#**List Length**

Use `len()` function to determine how many items a list has.

In [ ]:
print(len(list1))   #len()

#**Access List Items**

Since list items are indexed, they can be accessed by referring to their index number.

We can also use negative indexing to refer to a list item.

We can also specify a range to tell where to start and where to end. In that case, the output will be a new list having specified items.

We can also specify negative indexes if we want to start the search from the end of the list

In [ ]:
list1 = ["cool", 5, "table", 4.3, True]
print(list1[3])

# using -ve index
# print(list1[-1])

#range of items
print(list1[0::-1])

# #range of -ve indexes
#print(list1[-2:-4:1])

#**Membership Operators in List**

To check if the specified item is present in a list or not we can use membership operators i'e `in` and `not in`

In [ ]:
list1 = ["cool", 5, "table", 4.3, True]
print(5 in list1)
print(5 not in list1)

#**Change List Items**

To change the value of a specific item, refer to the index number.

To change the value of items within a specific range, define a list with the new values, and refer to the range of index numbers where you want to insert the new values.

In [ ]:
list2 = ["summer", "winter", "spring", "autumn"]
#list2[1] = "go!"
#print(list2)

list2[0:3] = ["list"]
print(list2)

#**Add List Items**

We can add items in the list using:


*   `append()` method
*   `insert()` method
*   `extend()` method

In [ ]:
list1 = ["cool", 5, "table", 4.3, True]
list2 = ["summer", "winter", "spring", "autumn"]

#To add an item to the end of the list, use the append() method
# list2.append(["rainy season", "Python"])
# print(list2)

#To insert a list item at a specified index, use the insert() method
#list1.insert(3, "Add in it")
#print(list1)

# #To append elements from another list to the current list, use the extend() method.
# list3 = [1, 2, 3, 4, 5]
list2.extend(["rainy season", "Python", 90 , "abc"])
print(list2)

In [ ]:
list2 = ["summer", "winter", "spring", "autumn"]
list1 = ["cool", 5, "table", 4.3, True]
list1.extend(list2)
print(list1)

#**Remove List Items**

We can remove items from list using:

* `remove()` method

* `pop()` method

* `del` keyword

* `clear()` method

In [ ]:
#The remove() method removes the specified item
list2 = ["summer", "winter", "spring", "autumn", "sublist"]
list2.remove("summer")
print(list2)

#The pop() method removes the specified index.
#print(list2.pop(0))
#list2.pop(-2) #will remove value of index -1
#print(list2)

# The del() keyword
del list2[3]
print(list2)

#del list2
#print(list2)

# #The clear() method empties the list. The list still remains, but it has no content
list2.clear()
print(list2)

['winter', 'spring', 'autumn', 'sublist']
['winter', 'spring', 'autumn']
[]

In [ ]:
list2 = ["summer", "winter", "spring", "autumn"]
del list2
print(list2)

#**Sort List**

List objects have a `sort()` method that will sort the list alphanumerically, ascending, by default.

To sort descending, use the keyword argument `reverse = True`

By default the `sort()` method is case sensitive, resulting in all capital letters being sorted before lower case letters.

If you want a case-insensitive sort function, use str.lower as a key function.

In [ ]:
list2 = ["summer", "winter", "Spring", "autumn", 7, 9]
#list2.sort()
#print(list2)

#list2.sort(reverse = True)
#print(list2)
numbers = [ 5, 8, 12, 8, 3]
#numbers.sort()
#print(numbers)

list4 = ["apple", "8", "Winter", "6.0"]
#list4.sort()
#print(list4)

list5 = ["apple", "Banana", "orange", "Apricot", 2]
#list5.sort(key = str.upper)
#print(list5)

list5.reverse()
print(list5)

In [ ]:
list2 = ["summer", "winter", "Spring", "autumn", "7", "9"]
list2.sort(key=str.lower)
print(list2)

#**Copy List**

You cannot copy a list simply by typing `list2 = list1`, because: list2 will only be a reference to list1, and changes made in list1 will automatically also be made in list2.

There are ways to make a copy, one way is to use the built-in List method `copy()`.

Another way to make a copy is to use the built-in method `list()`.

In [ ]:
list5 = ["apple", "Banana", "orange", "Apricot"]
list6 = list5
#print(list6)
#print(id(list5))
#print(id(list6))
list5.append("Hello")
print(list5)
#print(list6)
copy1 = list5.copy()
#print(copy1)
#print(id(list5))
#print(id(copy1))

copy2 = list(list5)
#print(copy2)
#print(id(list5))
#print(id(copy2))

['apple', 'Banana', 'orange', 'Apricot', 'Hello']

In [ ]:
list2 = ["summer", "winter", "spring", "autumn"]
copied = list2.copy()
print(copied)

#**Join List**

There are several ways to join, or concatenate, two or more lists in Python.

One of the easiest ways are by using the `+` operator.

Another way to join two lists is by appending all the items from list2 into list1, one by one

Or you can use the `extend()` method, which purpose is to add elements from one list to another list

In [ ]:
list5 = ["apple", "Banana", "orange", "Apricot"]
list4 = ["apple", "5", "Winter", "4.0"]
list4.extend(list4)
print(list5)

['apple', '5', 'Winter', '4.0', 'apple', '5', 'Winter', '4.0']

In [ ]:
#Concatenating through + operator
list5 = ["apple", "Banana", "orange", "Apricot"]
list4 = ["apple", "5", "Winter", "4.0"]
#print(list4 + list5)

#Using extend() method
list4.extend(list4)
print(list5)

#appending each item using for loop
#for i in list4:
  #list5.append(i)
#print(list5)

['apple', 'Banana', 'orange', 'Apricot']

In [ ]:
list2 = ["summer", "winter", "spring", "autumn"]
list3 = [7, 66, 4]
print(list2 + list3)

['summer', 'winter', 'spring', 'autumn', 7, 66, 4]

![Screenshot (365).png]()

In [ ]:
list4 = ["apple", "5", "Winter", "4.0", "apple"]
print(list4.count("apple"))
print(list4.index("apple"))

In [ ]:
string1 = "Python Programming"
# print(len(string1))
# print(string1[-18])
print(string1[-11:-8:1])

In [ ]:
# Question for today
my_list = [12, 35, 5, 0, 87, 99]
# Find the modulus of number at index 1 with 5.
print(my_list[1] % my_list[5])

In [ ]:
# Problem no. 2
set1 = {"Lahore", "Faisalabad", 5, True}
set2 = {5, 0, True}
# find whether set2 is a subset of set1 or not.
# Hint: use set method for this
print(set2.issubset(set1))

In [ ]:
string = ""
print(type(string))

# **Nested List:**
If there is a sublist within a list, it is known as nested list. We can access the elements of nested list by using its indexes.

In [ ]:
#Nested List
student = ["Name" , "Ali" , "Marks" , [54,89,76,34] , ["Pass", "Fail"]]
print(student[1])

Ali

#**Tuple**

Tuples are used to store multiple items in a single variable.

A tuple is a collection which is ordered and unchangeable.

Tuples are written with round brackets.

In [ ]:
T1 = ("Pakistan", "Nepal", 5, 8.9, "Sudan")
#print(T1)
#print(type(T1))

T2 = ("India",)
print(type(T2))

print(len(T1))

<class 'tuple'>
5

#**Accessing Tuple Elements**

Items in the tuples can be accessed by entering the index number inside square bracket.

The index can be a positive index, a negative index or a range of the indices.

In [ ]:
T1 = ("Pakistan", "Nepal", 5, 8.9, "Sudan", 55, "Korea", "09")
print(T1[-2])

print(T1[-2:-5:-1])

Korea
('Korea', 55, 'Sudan')

#**Membership Operator in Tuple**

To determine if a specified item is present in a tuple use the `in` keyword:

In [ ]:
T1 = ("Pakistan", "Nepal", 5, 8.9, "Sudan", 55, "Korea", "09")
print("Pakistan" in T1)

True

#**Update Tuples**

Tuples are immutable. You can't add or remove items in it. However, there are some hacks to do that.

In [ ]:
# Method 1 to add items in a tuple
T1 = ("Pakistan", "Nepal", 5, 8.9, "Sudan", 55, "Korea", "09")
x = list(T1)
#x[1] = "Indonesia"
x.append("Indonesia")
T1 = tuple(x)
print(T1)

('Pakistan', 'Indonesia', 5, 8.9, 'Sudan', 55, 'Korea', '09')

In [ ]:
# Method 2 to add items in a tuple
T1 = ("Pakistan", "Nepal", 5, 8.9, "Sudan", 55, "Korea", "09")
T3 = ("Python",)
T1 += T3   # T1 = T1+T3
print(T1)

In [ ]:
# To remove items from tuple
T1 = ("Pakistan", "Nepal", 5, 8.9, "Sudan", 55, "Korea", "09")
x = list(T1)
x.remove("Pakistan")
T1 = tuple(x)
print(T1)

In [ ]:
# Delete a tuple
T2 = ("Pakistan", "Nepal", 5, 8.9, "Sudan", 55, "Korea", "09")
del T2
print(T2)

T2

#**Unpacking a Tuple**

When we assign values to a tuple, it is packing the tuple.

We can also unpack the tuple and assign these values to different variables.

In [ ]:
T1 = ("Pakistan", "Nepal", 5, 8.9,5, 5.6)
var1, var2, *var3, var4 = T1
print(var1)
print(var2)
print(var3)
print(var4)

Pakistan
Nepal
[5, 8.9, 5]
5.6

In [ ]:
T1 = ("Pakistan", "Nepal", 5, 8.9, "Sudan", 55, "Korea", "09")
var1, var2, var3, var4, *var5 = T1
print(var3)
print(var4)
print(var5)

#**Join Tuples**

To join tuples, you can use `+` operator.

In [ ]:
join1 = (3, 5, 7)
join2 = ("P", "A", "K")
join3 = (2, 4, 6)
joined = join1 + join2 + join3
#join1 += join2 + join3
print(joined)

(3, 5, 7, 'P', 'A', 'K', 2, 4, 6)

#**Multiply Tuples**

If you want to multiply the content of a tuple a given number of times, you can use the `*` operator.

In [ ]:
join2 = ("Pakistan",1)
print(join2 * 2)

join1 = (3, 5, 7)
print(join1 * 5)

('Pakistan', 1, 'Pakistan', 1)
(3, 5, 7, 3, 5, 7, 3, 5, 7, 3, 5, 7, 3, 5, 7)

In [ ]:
a = "Ali "
print(a*5)

Ali Ali Ali Ali Ali

#**Tuple Methods**

Python has two built-in methods for tuple.

* `count()` method

* `index()` method

In [ ]:
T1 = ("Pakistan", "Nepal", 5,  "Sudan", 55, "Korea", "09", "Sudan" ,5)

# count() method
print(T1.count("Pakistan"))

#index() method
print(T1.index(5))
print(T1)

1
2
('Pakistan', 'Nepal', 5, 'Sudan', 55, 'Korea', '09', 'Sudan', 5)

In [ ]:
x = [2, 67, 3, 40, 500]
x.sort()
print(x)

[2, 3, 40, 67, 500]

In [ ]:
x = [3, "Apple", [55, 77], ["chrrry", "banana"]]
x[3][0][2] = ["e"]
print(x)

#**Sets**

Like lists and tuples, sets are used to store multiple values of different data types in a single variable.

Set items are unordered, unindexed, unchangable and don't allow duplicate values.

(Set items are unmutable, we can still add and remove items).

Sets are written with curly brackets.

In [ ]:
set1 = ["Lahore",5, "Faisalabad",True,]
set1 = set(set1)
print((set1))
print(type(set1))

{True, 'Lahore', 'Faisalabad', 5}
<class 'set'>

In [ ]:
# Duplicates not allowed in sets
set1 ={"Lahore", 5,false, "Lahore","Faisalabad""Lahore","Lahore",8,99}
print((set1))

set2 = {5, True, 5}
print(set2)

NameError: ignored

#**Length of a Set**

To determine how many items a set has, use the `len()` function.

In [ ]:
set1 = {"Lahore", "Faisalabad", 5, True, 5, "lahore"}
print(len(set1))

5

#**Access Set Items**

You cannot access items in a set by referring to an index or a key.

But you can loop through the set items using a `for` loop, or ask if a specified value is present in a set, by using the `in` keyword.

In [ ]:
set1 = {"Lahore", "Faisalabad", 5, 5, True}
if "Lahore" in set1:
  print(set1)

for i in set1:
  print(i)

{True, 'Faisalabad', 5, 'Lahore'}
True
Faisalabad
5
Lahore

In [ ]:
set1 = {"Lahore", "Faisalabad", 5, True}
print("Lahore" in set1)

#**Add items in a Set**

Once a set is created, you cannot change its items, but you can add new items.

To add an item to a set, use the `add()` method.

To add items from another set into the current set, use the `update()` method.

In [ ]:
set1 = {"Lahore", "Faisalabad", 5, True}
set1.add("Peshawar")
print(set1)

{True, 'Faisalabad', 5, 10, 'Lahore'}

In [ ]:
set1 = {"Lahore", "Faisalabad", 5, True}
set2 = {5, 0, False}
set1.update(set2)
print(set1)

mylist = [4, 7, 88]
set1.update(mylist)
print(set1)

{0, True, 'Faisalabad', 5, 'Lahore'}
{True, 'Faisalabad', 4, 5, 7, 'Lahore', 88}

#**Remove Set Items**

In [ ]:
set1 = {"Lahore", "Faisalabad", 5, True}
set1.remove("Lahore")
print(set1)


set1 = {"Lahore", "Faisalabad", 5, True}
set1.discard(5)
print(set1)

{True, 5, 'Faisalabad'}
{True, 'Lahore', 'Faisalabad'}

In [ ]:
set1 = {"Lahore", "Faisalabad", 5, 6}
set1.pop()
print(set1)

{5, 'Faisalabad', 6}

In [ ]:
set1 = {"Lahore", "Faisalabad", 5, True}
set1.clear()
print(set1)

set()

In [ ]:
set1 = {"Lahore", "Faisalabad", 5, True}
set2 = {"pakistan",1,2,3}
del set1
print(set2)

{1, 2, 3, 'pakistan'}

#**Join Sets**

In [ ]:
set1 = {"Lahore", "Faisalabad", 5, True}
set2 = {5, 0, False}

set1.union(set2)
print(set1)

{True, 'Faisalabad', 5, 'Lahore'}

In [ ]:
set1 = {"Lahore", "Faisalabad", 5, True}
set2 = {5, 0, False}
set1.update(set2)
print(set1)

#**Some Set Methods**

* `intersection_update()`
* `intersection()`
* `symmetric_difference()`
* `difference()`

In [ ]:
#The intersection_update() method will keep only the items that are present in both sets.
set1 = { 5, True,"python",7}
set2 = {5,6, "python"}
set1.intersection_update(set2)
print(set1)

{'python', 5}

In [ ]:
#The intersection() method will return a new set, that only contains the items that are present in both sets.

set1 = {"Lahore", "Faisalabad", 5,}
set2 = {5, 4,"Multan"}
x = set1.intersection(set2)
print(x)

{5}

In [ ]:
#difference method Returns a set containing the difference between two or more sets

set1 = {"Lahore", "Faisalabad", 5,6}
set2 = {5,7,"Multan"}
x = set1.difference(set2)
print(x)

{'Faisalabad', 'Lahore', 6}

In [ ]:
'''The symmetric_difference() method will return a new set, that contains only
the elements that are NOT present in both sets.'''

set1 = {"Lahore", "Faisalabad", 5,}
set2 = {5, 0,"Multan"}
a = set2.symmetric_difference(set1)
print(a)

{0, 'Lahore', 'Multan', 'Faisalabad'}

![Screenshot (382).png]()

In [ ]:
# set1 = {1,2,3, ["Python"]}
# print(set1)
tuple1 = (1,2,3,[1,2,3])
print(tuple1)

([1, 2, 3], {1, 2, 3})

#**Dictionaries**

Dictionaries are used to store data values in key:value pairs.

Dictionary items are ordered, changable, and do not allow duplicates.

Dictionaries are written with curly brackets, and have keys and values.

In [ ]:
dict1 = { 1 : "Ali",
         "age" : 21,
         "Country": "Pakistan",
         "city" : "Faisalabad"}
print(dict1)

{1: 'Ali', 'age': 21, 'Country': 'Pakistan', 'city': 'Faisalabad'}

# **Length of a dictionary:**
By using len() function, we can get the number of key-value pairs in a dictionary.

In [ ]:
print(len(dict1))

4

# **Key:Value Datatypes**
In dictionary, keys* and values are of any data type.There are no restrictions.

*But in case of keys, they cannot be mutable objects(unhashable).

In [ ]:
student_info = {
    1 : "Ali",
    "class" : 8,
    (1,0) : None,



}
student_info.keys()

dict_keys([1, 'class', (1, 0)])

# **Accessing Elements in dictionary:**

There is no concept of indexes in dictionary. It is an ordered object but we cannot access elements by using its number indexes. For accessing dictionary elements, we use keys. These keys map the values present against them in dictionary.

In [ ]:
dict1 = {"name" : "Ali",
         "age" : 21,
         "country" : "Pakistan",
         "city" : "Faisalabad"}
# print(dict1)
print(dict1["age"])

# **Duplicate Values in Dictionary:**
In case of dictionary values, duplicates are allowed. But duplication of keys is not allowed.

*  If we use same key two times in a dictionary, the value against that key gets updated and the former value get discarded. And the dictionary will contain only one key of that name.

*  Key is a unique identifier that is used to map a specific value present against it in the dictionary. It cannot be duplicated. You cannot use  same key to map two different values.

In [ ]:
dict2 = {"name" : "Ali",
         "age" : 21,
         "country" : "Pakistan",
         "city" : "Pakistan",
         "age" : 18,
         "age"  : 20
         }
print(dict2)

{'name': 'Ali', 'age': 20, 'country': 'Pakistan', 'city': 'Pakistan'}

# **Add elements in Dictionary:**
New elements can be added in dictionary simply by introducing a new key-value pair.

In [ ]:
dict2 = {"name" : "Ali",
          21 : 21,
         "country" : "Pakistan",
         "city" : "Faisalabad",
        }
dict2["employed"] = 54
print(dict2)

{'name': 'Ali', 21: 21, 'country': 'Pakistan', 'city': 'Faisalabad', 'employed': 54}

# **Change Value in a dictionary:**
We can change a value in a dictionary by assigning new value to the key.

In [ ]:
dict2 = {"name" : "Ali",
         "age" : 21,
         "country" : "Pakistan",
         "city" : "Faisalabad",
        }
dict2["city"] = "Lahore"
# dict2[21] = "Hello"
print(dict2)

# **Memebership Operators:**
In dictionary, we can use membership operators to know whether a key present in a dictionary or not.
It cannot be used to check values in dictionary.

In [ ]:
dict2 = {"name" : "Ali",
         "age" : 21,
         "country" : "Pakistan",
         "city" : "Faisalabad",
        }
# print("name" not in dict2)
# print("city" not in dict2)
print("Pakistan" in dict2)

# **Iterating through Dictionary:**
By using for loop, we can iterate through a dictionary.

In [ ]:
dict2 = {"name" : "Ali",
         "age" : 21,
         "country" : "Pakistan",
         "city" : "Faisalabad",
        }

for i in dict2:
  print(i)
  #print(dict2[i])
  #print(i, ":", dict2[i])
  # print(value)

name
age
country
city

# **Nested Dictionary:**
When there is another dictionary inside a dictionary, it is called nested dictionary.

In [ ]:
dict2 = {"name" : "Ali",
         "age" : 21,
         "country" : "Pakistan",
         "city" : "Faisalabad",
          "dict3" : {"status" : "employed","profession" : "Teaching"},
        }
print(dict2["dict3"]["status"] )

# print(dict3)

employed

# **Dictionary Methods:**


* **clear()**
It is used to clear data from a dictionary.
*  **keys()**
It is used to get a list of all the keys present in a dictionary.
*   **values()**
It is used to get a list of all the values present in a dictionary.
*   **item()**
It is used to get all the elements of a dictionary.
*   **get()**
It is used to get specified keys' value from a dictionary.

In [ ]:
dict2 = {"name" : "Ali",
         "age" : 21,
         "country" : "Pakistan",
         "city" : "Faisalabad",
        }
dict2.clear()
print(dict2)

In [ ]:
dict2 = {"name" : "Ali",
         "age" : 21,
         "country" : "Pakistan",
         "city" : "Faisalabad",
        }
a = dict2.keys()
print(a)

In [ ]:
dict2 = {"name" : "Ali",
         "age" : 21,
         "country" : "Pakistan",
         "city" : "Faisalabad",
        }
dict2.values()

In [ ]:
dict2 = {"name" : "Ali",
         "age" : 21,
         "country" : "Pakistan",
         "city" : "Faisalabad",
        }
dict2.get("student","laiba")
print(dict2)

laiba

In [ ]:
dict2 = {"name" : "Ali",
         "age" : 21,
         "country" : "Pakistan",
         "city" : "Faisalabad",
        }
#dict2["status"]
dict2.get("status", "key not found")
#print(dict2)

# **Removing Elements from Dictionary:**
To remove elements from a dictionary, following methods are used:
* **pop()**
It is used to remove specified element from a dictionary.
*  **popitem()**
It is used to remove last element from a dictionary. It takes no argument.

In [ ]:
def foo(x):
  x += 1
  if x < 20:
    return foo(x) + 1
  else:
    return x
x = 10
print(foo(x))

11
12
13
14
15
16
17
18
19
29

100

326

In [ ]:
dict3 = {
    1 : "Python",
    2 : "C++",
    3 : "Java",
    4: "Ruby",
    5 : "C",
}
# dict3.pop()
a = dict3.pop(2)
print(dict3)
print(a)

In [ ]:
a = dict3.popitem()
print(dict3)
print(a)

[1, 2, 3, 4, 1]
[1, 2, 3, 4]

*   **update()**
It is used to update key-value pairs in a dictionary.

In [ ]:
dict2 = {"name" : "Ali",
         "age" : 21,
         "country" : "Pakistan",
         "city" : "Faisalabad",
        }
dict3 = {
    1 : "Python",
    2 : "C++",
    3 : "Java",
    4: "Ruby",
    5 : "C",
}
dict3.update(dict2)
print(dict3)
# print(a)

# **dict() constructor:**

In [ ]:
numbers = {1: "x" , 2: "y"}
print(numbers)

In [ ]:
numbers1 = dict([('x', 5), ('y', 10)])
print('numbers1 =',numbers1)

In [ ]:
numbers2 = dict(x = 5 , y = 10 , z=8)
print("numbers2=" ,numbers2)

In [ ]:
numbers3 = dict(zip(['x', 'y', 'z'], [1, 2, 3]))
print('numbers3 =',numbers3)

In [ ]:
# How can we write correct spelling of cherry
x = [3, "Apple", [55, 77], ["chrrry", "banana"]]
# x[2][0] = 80
x[3][0] = "cherry"
print(x)
# string1= "Hello Wolld!"

In [ ]:
# how can we initialize an empty set
# string = ""
# print(type(string))
set1 = ()
print(type(set1))

In [ ]:
# how can we initialize a tuple with a single value
tuple1 = (1,)
type(tuple1)

# **Conditions:**

Conditions are used in program when we want to execute a specific portion of that on the basis of the incoming input.

The statement next to a condition will only excecute if it's true otherwise it'll be ignored by the interpretor.

**Keywords:**

if

elif

else

In [ ]:
a= 5
b = 8
print(a<b)

True

In [ ]:
a = 3
b = 5
if a > b:
    print("Hello there!")
else:
  print("Your statement is false")

Your statement is false

In [ ]:
a = 3
b = 5
if a>b:
  print("a is greater than b")
print("Hello World")
#else:
  #print("a is not greater than b")

Hello World

In [ ]:
a,b = 5,7
if a==3:
  print("a is greater than b")
elif a<b:
  print("a is less than b")
else:
  print("a is equal to b")

a is less than b

In [ ]:
# Grading System using conditions
marks = int(input("Enter your marks: "))
if marks >= 90:
  grade = "A"
elif marks >= 70:
  grade = "B"
elif marks >= 50:
  grade = "C"
elif marks >= 40:
  grade = "D"
else:
  grade = "F"
print("Your grade is:", grade)
type(grade)

Enter your marks: 67
Your grade is: C

str

In [ ]:
# Program for a basic calculator
a = int(input("Enter the first digit: "))
b = int(input("Enter the second digit: "))
c = input("Choose an operator of the following: \n+ \n- \n* \n/ \n")

if c == "+":
  z = (a+b)
elif c == "-":
  z = (a-b)
elif c == "*":
  z = (a*b)
elif c == "/":
  z = (a/b)
print("Your solution is: ", z)

# **Short Hand if**

If you have only one statement to execute, you can put it on the same line as the if statement.

In [ ]:
a,b = 9,7
if a>b:print("a is greater than b"), print(5)

# **Short Hand if...else**

If you have only one statement to execute, one for if, and one for else, you can put it all on the same line.

In [ ]:
a=5
b=5
print("a") if a>b else print("b")
print("a") if a<b else print("same") if a==b else print("hello")

#**Logical Operators in Conditions**

using `and`, `or`, `not`

In [ ]:
a>b and a==b

In [ ]:
a = 50
b = 100
c = 300
if a>b or a>c:
  print("a is greater than all")
elif b>a or b>c:
  print("b is greater than all")
elif c>a and c>b:
  print("c is greater than all")

In [ ]:
if not a>b:
  print("a is not greater than b")

In [ ]:
''' Accept three sides of a triangle and check whether it is an equilateral, isosceles or scalene triangle.
Note :
An equilateral triangle is a triangle in which all three sides are equal.
A scalene triangle is a triangle that has three unequal sides.
An isosceles triangle is a triangle with (at least) two equal sides.'''

a = float(input("first side: "))
b = float(input("second side: "))
c = float(input("third side: "))
if a==b==c:
  print("Equilateral triangle")
elif a==b or a==c or b==c:
  print("Isosceles triangle")
else:
  print("Scalene triangle")

In [ ]:
#Write a program to check whether a number(accepted by user) is divisible by 2 and 3 both.

a = int(input("Enter a number: "))
if a%2==0 and a%5==0:
  print("Number is divisible.")

In [ ]:
# Accept the age of 4 people and display the youngest one.

a = int(input("Age: "))
b = int(input("Age: "))
c = int(input("Age: "))
d = int(input("Age: "))
youngest = max(a,b,c,d)
print("Youngest age is: ", youngest)

#**Nested if**

When you have `if` statement inside `if` statement, it is called nested if statement.

In [ ]:
marks = int(input("Enter your marks: "))
if marks >= 60:
  if marks >= 80:
    print("Pass with excellent performance.")
  else:
    print("Pass but need more concentration.")
else:
  print("Fail")

In [ ]:
marks = int(input("Enter your marks: "))
if marks >= 60:
  if marks >= 80:
    print("Pass with excellent performance.")
  else:
    print("Pass but need more concentration.")
else:
  print("Fail")

#**Pass Statement**

if statements cannot be empty, but if you for some reason have an if statement with no content, put in the `pass` statement to avoid getting an error.

In [ ]:
a = 5
b = 7
if a<b:
  pass

# **Loops:**

If we want to perform few steps of a program repeatedly, we will use loops instead of writing these lines each time.

Loops make the program more efficient.

In python, no braces are used to separate a block of statemments from the whole program. On the other hand, proper indentations are used for this purpose.

Two types of loops are used in python.


*   For loop
*   while loop

#**While Loop**

With the `while` loop we can execute a set of statements as long as a condition is true.

In [ ]:
while condition:
  statement

In [ ]:
i = 1
while i<=5:
  print(i)
  i += 2  #i = i + 1
print("Done")

1
3
5
Done

In [ ]:
i = 0
n = 5
while i<=n:
  print(i)
  i += 1

0
1
2
3
4
5

In [ ]:
i = 1
while i<=5:
  print("python")
  i = i+1

python
python
python
python
python

In [ ]:
i = 1
while i<= 5:
  print("x" * i)
  i += 1

x
xx
xxx
xxxx
xxxxx

In [ ]:
x=1
while  (1<=x<=100):
       x= int(input("Enter number between 1-100"))
print ("valid No" ,x)

Enter number between 1-10023
Enter number between 1-1006
Enter number between 1-100-1

NameError: ignored

#**Break Statement**

With the break statement we can stop the loop even if the while condition is true.

In [ ]:
i = 1
while i<6:
  print(i)
  if i == 3:
    break
  i+=1

1
2
3

In [ ]:
i = 1
while i<6:
  if i == 3:
    break
  print(i)
  i+=1

1
2

#**Continue Statement**

With the continue statement we can stop the current iteration, and continue with the next.

In [ ]:
i = 0
while i<=6:
  i+=1
  if i == 3:
    continue
  print(i)

1
2
4
5
6
7

In [ ]:
#Table using while loop

a = int(input("Enter a number: "))
i = 1
while i<=10:
  print(a, "*", i, "=", a*i)
  i+=1

#**Else in While Loop**

With the else statement we can run a block of code once when the condition no longer is true.

In [ ]:
i = 0
while i<5:
  print(i)
  i += 1

print("i is no longer less than 5.")

0
1
2
3
4
i is no longer less than 5.

#**For Loop**

A for loop is used to iterate over a sequence. That sequence can be a string, list, tuple, set or a dictionary.

It doesn't require an indexing variable to set beforhead.

In [ ]:
a_string = "Let's learn Python."
for i in a_string:
  print(i)

In [ ]:
my_list = [3, 5, True, "apple"]
for items in my_list:
  print(items)

In [ ]:
my_tuple = ("python", "cpp", "java")
for i in my_tuple:
  print(i)

#**Break Statement in for loop**

With the break statement we can stop the loop before it has looped through all the items.

In [ ]:
# Guessing Game using While Loop

secret_number = 5
guess_count = 0
guess_limit = 3
while guess_count < guess_limit:
  guess = int(input("Your Guess: "))
  if guess != int:
    print("please enter valid num")
    break
  else :
    if guess == secret_number:
      print("You won")
      break
    guess_count += 1
else:
    print("You exceeded guess limit.")

Your Guess: a

ValueError: ignored

In [ ]:
my_list = ["winter", "summer", "autumn", "fall", "rainy season"]
for i in my_list:
  #print(i)
  if i == "fall":
    break
  print(i)

winter
summer
autumn

In [ ]:
my_list = ["winter", "summer", "autumn", "fall", "rainy season"]
for i in my_list:
  if i == "fall":
    break
  print(i)

winter
summer
autumn

#**Continue Statement in for loop**

With the continue statement we can stop the current iteration of the loop, and continue with the next.

In [ ]:
my_list = ["winter", "summer", "autumn", "fall", "rainy season"]
for i in my_list:
  if i == "fall":
    continue
  print(i)

winter
summer
autumn
rainy season

#**Range() function in For Loop**

To loop through a set of code a specified number of times, we can use the range() function,
The range() function returns a sequence of numbers, starting from 0 by default, and increments by 1 (by default), and ends at a specified number.

In [ ]:
for i in range(5):
  print(i)

0
1
2
3
4

In [ ]:
for i in range(1, 5):
  print(i)

1
2
3
4

In [ ]:
for i in range(10, 5, -1):
  print(i)

10
9
8
7
6

In [ ]:
my_list = ["winter", "summer", "autumn", "fall", "rainy season"]
for i in range(len(my_list)):
  print([i])

[0]
[1]
[2]
[3]
[4]

#**Else in for loop**

The else keyword in a for loop specifies a block of code to be executed when the loop is finished.

In [ ]:
for i in range(6):
  print(i)
else:
  print("Finished.")

0
1
2
3
4
5
Finished.

#**Pass Statement**

for loops cannot be empty, but if you for some reason have a for loop with no content, put in the `pass` statement to avoid getting an error.

In [ ]:
for x in range(5):
  pass    # for avoid error

#**Nested Loop**

A nested loop is a loop inside a loop.

The "inner loop" will be executed one time for each iteration of the "outer loop".

In [ ]:
for x in range(5):
  for y in "Hello":
    print(x,y)

#**List Comprehension**

A shorter syntax to create a new list based on previous list.

**Syntax**

newlist = [expression `for` item `in` iterable `if` condition == True]

In [ ]:
fruits = ["apple", "banana", "cherry", "mango", "apricort", "berries"]
new_list = [x for x in fruits if "a" in x]
print(new_list)

['apple', 'banana', 'mango', 'apricort']

In [ ]:
Numbers = [x for x in range(5)]
print(Numbers)

[0, 1, 2, 3, 4]

In [ ]:
Numbers = [x for x in range(5) if x!=3]
print(Numbers)

[0, 1, 2, 4]

In [ ]:
# write a program to create a list of first 100 even natural numbers.
numbers = [x for x in range(2, 101, 2)]
print(numbers)

[2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 56, 58, 60, 62, 64, 66, 68, 70, 72, 74, 76, 78, 80, 82, 84, 86, 88, 90, 92, 94, 96, 98, 100]

In [ ]:
statement = "Python"
# Convert every character of this string in a list item.
new = []
for i in statement:
  new.append(i)
print(new)

['P', 'y', 't', 'h', 'o', 'n']

#**Topics to add**

Loop through a string

Loop through a list

list comprehension

loop tuples

In [ ]:
# Loop through a string
a = "Python for Beginners"
for i in a:
  if i == " ":
    continue
  print(i)

In [ ]:
# Loop through a list
my_list = [5, 34, 98, 45]
i = 0
while i<len(my_list):
  print(my_list[i])
  i += 1

5
34
98
45

In [ ]:
my_list = [5, 34, 98, 45]
new_list = [x for x in my_list]
print(new_list)

[5, 34, 98, 45]

In [ ]:
# Loop through a tuple
my_tuple = (4, 64, 23, 78)

# **Functions:**

Functions allow us to create blocks of code that can be easily executed many times without needing to constantly rewrite the entire block of code.

In [ ]:
def myfunction():
  print("Python")
  print("Programming")
  print("Hello World")
myfunction()

Python
Programming
Hello World
None

In [ ]:
def function2(n, a):
    print(name,age)
name = input("Enter your name: ")
age  = int(input("Enter your age: "))
function2(name, age)

# **Built-in Functions:**

There are a lot of built-in functions in python that make programming more easier and efficient.

In [ ]:
#The sum() function returns a number, the sum of all items in an iterable.

a = [5, 6, 8]
print(sum(a,11))

30

In [ ]:
# max() and min() functions
b = (44, 11)
print(min(b , (-1,)))  # print(min(20,10,30,-1))
print(max(b))

(-1,)
44

In [ ]:
a = 56
b = 33
print(max(a, b))  #print(a)

56

In [ ]:
a = ["Python", "Java", "Englishz", "Arabic", "Zoom" , "hello"]
print(max(a))
print(min(a))

hello
Arabic

#**THE END**

                    THANKS FOR JOINING :)